<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>通用录音器</string>
		<key>detail</key>
		<string></string>
		<key>attachment</key>
		<string></string>
		<key>rows</key>
		<array>
			<dict>
				<key>title</key>
				<string>基于AVAudioRecorder的录音器</string>
				<key>detail</key>
				<string></string>
				<key>attachment</key>
				<dict>
					<key>factory</key>
					<string>NativeWrappedAudioRecorderFactory</string>
				</dict>
			</dict>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>持续时间剪切录音器</string>
		<key>detail</key>
		<string></string>
		<key>attachment</key>
		<string></string>
		<key>rows</key>
		<array>
			<dict>
				<key>title</key>
				<string>基于音频队列实现的持续时间剪切录制器</string>
				<key>detail</key>
				<string></string>
				<key>attachment</key>
				<dict>
					<key>factory</key>
					<string>AudioQueueDurationAudioRecorderFactory</string>
					<key>parameters</key>
					<string>6.0</string>
				</dict>
			</dict>
			<dict>
				<key>title</key>
				<string>基于捕获设备实现的持续时间剪切录制器</string>
				<key>detail</key>
				<string></string>
				<key>attachment</key>
				<dict>
					<key>factory</key>
					<string>CaptureDeviceDurationAudioRecorderFactory</string>
					<key>parameters</key>
					<string>6.0</string>
				</dict>
			</dict>
			<dict>
				<key>title</key>
				<string>基于AVAssetExportSession实现的持续时间剪切录制器</string>
				<key>detail</key>
				<string></string>
				<key>attachment</key>
				<dict>
					<key>factory</key>
					<string>AssertExportSessionDurationAudioRecorderFactory</string>
					<key>parameters</key>
					<string>6.0</string>
				</dict>
			</dict>
		</array>
	</dict>
</array>
</plist>
